// variables
$color-secundario: aliceblue;



//mixin de  mediaquerys del navbar

@mixin media($breakpoints) {
    @media screen and (max-width:$breakpoints ) {
    
    .abrir-boton,
    .cerrar{
        border: 0;
        display: block;
        font-size: 1.25rem;
        cursor: pointer;
    }
    
    .cerrar{
        color: $color-secundario;
    }

    .nav-bar-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color:  #000000;
        padding: 1rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .4);
        opacity: 0;
        visibility: hidden;
        
    }
    .nav-bar{
    align-items: end;
    flex-direction: column;
    }
    .nav-bar-container-visible{
        opacity: 1;
        visibility: visible;
    }

    .container-videos{
        display: block;
    }
    .main-video{
        width: auto;
        height: auto;
        
        
    }
    h1 a{
        margin:1rem;
        font-size: 1.2rem;
        display: flex;
        font-family: "Rye", serif;
        font-weight: 400;
        font-style: normal;
        color: $color-secundario;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }

    .titulos-h2{
        margin:1rem;
        font-size: 1.4rem;
        display: flex;
        font-family: "Rye", serif;
        font-weight: 400;
        font-style: normal;
        color: $color-secundario;
        padding: 1rem;
        align-items: center;
        justify-content: center;
    }
    .p-contact{
        font-size: 1rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
    }
    
    }
}