
.p-contact{
    font-size: 3rem;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: $color-secundario;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 4rem;
}

h1{
    margin:1rem;
    font-size: 3rem;
    display: flex;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: $color-secundario;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

@include media(550px);
@include media(428px);
@include media(412px);