.titulos-h2{
    
    display: flex;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: $color-secundario;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    
}


h1{
    margin:1rem;
    font-size: 3rem;
    display: flex;
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    color: $color-secundario;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}